.footer {
    background-color: none;
    width: 100%;
    text-align: left;
    scroll-snap-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2vh;
    padding: 8vh;
   
    margin-top: 8vh;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  .footer .footer-left {
    width: 33%;
    padding: 1vh;
  }
  
  .footer .about {
    line-height:3vh;
    color: #ffffff;
    font-size: 1.5vh;
    font-weight: normal;
    margin: 1vh;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 1vh;
  }

  #bo{
    display: flex;
    flex-direction: row;

}

.aaa{
    height: 5vh;
    width: 5vh;
    margin: 1vh;
    transition: transform .2s;
}

.aaa:hover{
    transform: scale(1.1);
}

  .footer .footer-center {
    width: 30%;
  }
  
  .A{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-center i {

    color: #ffffff;
    font-size: 8vh;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
 
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin-bottom: 7vh;
    padding: 1vh;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    margin-top: 0;
  }
  
  .footer .footer-center p a {
    color: #fefefe;
    text-decoration: none;

  }
  #number{
    color: white;
    text-decoration: none;
  }

  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }

  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color:red;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0 ;
  }
.logoC{
  width: 100%;
  display: flex;
  justify-content: center;
}

  #coppy{
    display:flex;
    font-size: 1.5vh;
    justify-content: center;
  }

  @media only screen and (max-width: 1200px) {
    .footer {
        font-size: 14px;
        padding: 0;
        scroll-snap-align: none;
        margin-top: 0;
      }
      .footer .footer-left,
      .footer .footer-center,
      .footer .footer-right {
        display: block;
        width: 100%;

      
        margin-bottom: 40px;
        text-align: center;
      }
      .footer .footer-center i {
        margin-left: 0;
      }


      #bo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 6rem;
    }
    
    .aaa{
        height: 5vh;
        width: 5vh;
        margin: 1.2vh;
        transition: transform .2s;
    }
    
    .aaa:hover{
        transform: scale(1.1);
    }
       
    #coppy{
        font-size: 0.7rem;
          margin-bottom: 1rem;
    justify-content: center;

      }
  }